@media screen and (max-width:1400px){
   /*  .portfolio-cont{
        display: block !important;

        .projectInfo{
            width: 70% !important;
            margin: 0 auto !important;
            padding: 0 !important;
            max-width: 40rem;

        
        }
    } */

}

@media(max-width:1025px){
    section{
        padding: 0 1rem;
    }
    .navbar{
        .navbarContent{
        display: none ;
        top: 80px;
        padding: 0;
        right: 10px;
        position: fixed;
        width: fit-content;
        height: fit-content;
        background: #fff;
        color: black;
        border: 1px solid #dcdcdc;
        border-radius: 8px;
        padding:1.5rem;

        &:after{
            content:"";
            width: 0; 
            height: 0; 
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #dcdcdc;
            position:absolute;
            top:-10px;
            right:15px;
        }

        li{
            width: 100%;
            margin:0 auto;
            text-align: center;
            margin-bottom: 1rem;

            &:last-child{
                margin-bottom:0;
            }

        }
        }
        
        i{
            display: block !important;
            top:50%;
            transform:translateY(-50%);
            right:1.5rem;
            font-size:1.8rem;
        }
        .active-selector{
            color:rgb(34, 115, 248);
        }

        .icons-cont{
            display: none !important;
        }
    }
    
    .about{
        .skills-cont{
            flex-flow: column;

        }
    }
    
    section{
        padding: 1rem !important;
    }
}

@media(min-width:1025px){
    .navbarContent{
        display: flex !important;
    }
}

@media(max-width:768px){

    //stripes
    .stripe-top{
        border-top: 60px solid white;
    }

    .stripe-bottom{
        border-bottom: 60px solid !important;
    }

    .last-stripe{
        border-bottom: 60px solid #130f40 !important;
    }

    //box text

    .box-text{
        margin:3rem auto;

        h2{
            font-size: 1.25rem;
        }

        h5{
            font-size: .9rem;
        }

        img{
            width:10rem;
            max-height: 5rem;
            margin-bottom:1.5rem;
        }
    }

    //contact

    body{
        .bodyContent{
            .contact{
                span{
                    h3{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

@media(max-width:480px){
    body{
        font-size: .8rem;

        .text1{
            font-size:.8rem !important;
        }
        

        .sectionTitle{
            font-size: 2rem !important;
        }

        .home{
            .messageContainer{
                img{
                    width: 10rem !important;
                    margin-top: 1rem !important;
                }
                
                h1{
                    font-size: 2rem !important;
                }
    
                h2{
                    font-size: 1.25rem;
                }
            }
        }

        .about{
            .skillsRow{
                i{
                    font-size: 2rem !important;
                    width:5rem !important;
                    height: 5rem !important;

                }
                h2{
                    font-size:1rem !important;
                }

                p{
                    font-size: .7rem;
                }
            }
        }

        .portfolio{
            .projectInfo{
                padding: 0 !important;
                width: 80% !important;
                text-align: justify;
            }
        }
    }

    .home{
        .messageContainer{
            top: 0 !important;
        }
    }
}
