.box-text {
  text-align: center;
  max-width: 60rem;
  width: 100%;
  margin: 8rem auto;
}
.box-text h2 {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}
.box-text h5 {
  margin-bottom: 5rem;
  color: #fff;
  opacity: 0.75;
}
.box-text img {
  width: 13rem;
  border-radius: 0.5rem;
  max-height: 6rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

section {
  padding-bottom: 7rem;
  position: relative;
}

.odd-background {
  background: #130f40;
  color: white;
}
.odd-background .sectionTitle {
  color: white !important;
}

.stripe-bottom {
  width: 0;
  height: 0;
  border-left: 100vw solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 100px solid white;
  position: absolute;
  bottom: -2px;
  left: 1px;
}

.stripe-top {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 100vw solid transparent;
  border-top: 100px solid white;
  position: absolute;
  top: -2px;
  left: 0;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none;
}

.flex-cont {
  display: flex;
}

.buttons-cont {
  width: 100%;
  display: flex;
}

.button {
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 30px;
  width: fit-content;
  padding: 10px 25px;
  margin: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  width: max-content;
  transition: all 0.3s ease;
  display: inline;
}

.blue-btn {
  color: #fff;
  border: 1px solid #407bff;
  background-color: #407bff;
  transition: all 0.3s ease;
  /* &:hover{
      color: #ffffff;
      background: #407bff;
  } */
}

.blue-outline-btn {
  color: #407bff;
  background: #fff;
  border: 1px solid;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #606060;
  overflow-x: hidden;
}
body section {
  margin: 1.5rem 0;
}
body .sectionTitle {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  /* width: 80%; */
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding-bottom: 15px;
  padding-top: 8rem;
  /* color: #919191;
  border-bottom: 5px solid #ededed; */
  color: #130f40;
  border-bottom: 5px solid #e8e8f1;
}
body .navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 99;
  transition: all 0.5s ease;
  /* background:#eef0f5; */
  background: #130f40;
  color: #fff;
}
body .navbar .container {
  display: flex;
  align-items: center;
  height: 100%;
}
body .navbar span {
  font-size: 1.75rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  height: min-content;
}
body .navbar .fa-bars {
  position: absolute;
  font-size: 2rem;
  display: none;
}
body .navbar ul {
  width: auto;
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}
body .navbar ul li {
  list-style: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.3s ease;
  padding-right: 30px;
  padding-left: 30px;
}
body .navbar .icons-cont {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 4rem;
}
body .navbar .icons-cont a {
  color: inherit;
}
body .navbar .icons-cont i,
body .navbar .icons-cont svg {
  margin: 0 0.8rem;
  font-size: 1.5rem;
}
body .smaller-nav {
  height: 70px !important;
  background: #130f40 !important;
  color: #ffffff;
}
body .active-selector {
  color: #2273f8;
  /* border-bottom: 5px solid; */
  font-size: 1.15;
}
body .bodyContent .home {
  width: 100%;
  /* height:calc(100vh - 80px); */
  /* top: 80px; */
  height: 55vh;
  margin-bottom: 35vh;
  position: relative;
}
body .bodyContent .home .messageContainer {
  text-align: center;
  position: relative;
  top: 14rem;
  z-index: 90;
}
body .bodyContent .home .messageContainer h1 {
  font-size: 3.5rem;
  font-weight: bold;
}
body .bodyContent .home .messageContainer h2 {
  opacity: 0.8;
}
body .bodyContent .home img {
  margin-top: 3rem;
  width: 15rem;
}
body .bodyContent .about .aboutContent {
  max-width: 70rem;
  /* height: 40rem; */
  border-radius: 15px;
  margin: 5rem auto;
  /* padding: 1.5rem; */
}
body .bodyContent .about .aboutContent:after {
  /* content: "Read this -"; */
  width: 100px;
  height: 100px;
  background: tomato;
}
body .bodyContent .about .aboutContent .skillsRow {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
body .bodyContent .about .aboutContent .skillsRow .skills-cont {
  display: flex;
  width: 50%;
}
body .bodyContent .about .aboutContent .skillsRow .skills-cont div {
  max-width: 15rem;
  margin: 0 auto;
}
body .bodyContent .about .aboutContent .skillsRow i {
  display: block;
  font-size: 3rem;
  text-align: center;
  color: #407bff;
  background-color: #e7eeff;
  border-radius: 10px;
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .bodyContent .about .aboutContent .skillsRow div {
  text-align: justify;
}
body .bodyContent .about .aboutContent .skillsRow div h2 {
  font-size: 1.4rem;
  font-weight: bold;
}
body .bodyContent .about .aboutContent .skillsRow div h2, body .bodyContent .about .aboutContent .skillsRow div p {
  text-align: center;
}
body .bodyContent .about .aboutContent .skills-cont {
  display: flex;
  justify-content: space-around;
}
body .bodyContent .about .aboutContent .skills-cont img {
  width: 100%;
  max-width: 32rem;
  height: auto;
  align-self: center;
  padding-top: 2rem;
}
body .bodyContent .about .aboutContent .skills-cont .skillsTable {
  float: right;
  /* margin: 1.5rem 2.5rem; */
}
body .bodyContent .about .aboutContent .skills-cont .skillsTable .skill-element {
  padding: 0 !important;
}
body .bodyContent .about .aboutContent .skills-cont .skillsTable .skill-element .skills div {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* max-width: 20rem; */
}
body .bodyContent .about .aboutContent .skills-cont .skillsTable .skill-element .skills div div, body .bodyContent .about .aboutContent .skills-cont .skillsTable .skill-element .skills div i {
  display: inline-block;
  font-size: 1.2rem;
}
body .bodyContent .about .aboutContent .skills-cont .skillsTable .skill-element .skills div i {
  color: #407bff;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
body .bodyContent .about .aboutContent .skills-cont .skillsTable .skill-element .skills div div {
  width: 20rem;
  margin: 0.6rem 0;
  font-weight: bold;
  opacity: 0.6;
}
body .bodyContent .portfolio {
  width: 100%;
  padding: 7rem 0 10rem;
  position: relative;
  /*            .portfolio-cont{
                 width: 100% ;
                 max-width: 80rem;
                 height: auto;
                 margin:90px auto 50px;
                 display: flex;

                 .project-prev{
                     max-width: 50rem;
                     width: 100%;
                     margin: 0 auto;
                     margin-bottom: 3rem;

                     .imageBackground{
                         max-width: 50rem;
                         width: 100%;
                         background-color: #ededed;
                         margin:auto;
                         display: flex;
                         position: relative;

                         .image-cont{
                             width: 100%;
                             display: flex;

                             img{
                                 max-width: 43rem;
                                 width: 90%;
                                 position: relative;
                                 top: 1.5vw;
                                 margin: 0 auto;
                                 align-self: baseline;
                             }
                         }


                         i{
                             display: flex;
                             height: 100%;
                             align-items: center;
                             font-size: 1.8rem;
                             position: absolute;
                             z-index: +99;
                         }

                         .prevProjectButton{
                             i{
                                 left: -45px;
                             }
                         }
                         .nextProjectButton{
                             i{
                                 right: -45px;
                             }
                         }
                     }

                 }

                 .projectInfo{
                     width: 60%;
                     padding: 0 4.5rem;
                     margin-top: 5rem;

                     .projectName{
                         font-size: 2rem;
                         font-weight: bold;
                         margin-bottom: .8rem;
                         display:inline-block;
                     }

                     .project-prev{
                         margin: 0 1rem;
                     }

                     .categories{
                         display: flex;
                         flex-flow: column;
                         margin: 1rem 0;

                         div{
                             i{
                                 margin-right: .6rem;
                             }

                             margin: 5px 0;
                             font-weight: bold;
                             opacity: .6;
                             text-transform: capitalize;
                         }
                     }

                 }
             } */
  /*  */
  /*             .slick-slide{
                  img{
                      transform: scale(.9);
                      transition: all .3s ease-out;
                      opacity: .6;
                  }
              }
              .slick-center{
                  img{
                      transform: scale(1) !important;
                      opacity: 1 !important;
                  }
              }
              .slick-prev:before, .slick-next:before{
                  color: #130f40 !important;
              } */
}
body .bodyContent .portfolio h3 {
  font-size: 1.8rem;
  font-weight: bold;
}
body .bodyContent .portfolio .projects-grid {
  width: 100%;
  max-width: 95rem;
  margin: 0 auto;
}
body .bodyContent .portfolio .projects-grid .col-12 {
  padding: 0;
}
body .bodyContent .portfolio .projects-grid .col-12 img {
  padding: 1rem;
}
body .bodyContent .portfolio .projects-grid a:hover .project-info {
  opacity: 1;
}
body .bodyContent .portfolio .projects-grid .project-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: #00000061;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in;
}
body .bodyContent .portfolio .projects-grid .project-info h3,
body .bodyContent .portfolio .projects-grid .project-info h5 {
  color: white;
}
body .bodyContent .contact img {
  width: 20rem;
}
body .bodyContent .contact i {
  font-size: 5rem;
  /* color: #000000; */
  /* color: $darkBlue; */
  color: #130f40;
  transition: all 0.5s ease;
}
body .bodyContent .contact .contactContent {
  display: flex;
  height: auto;
  border-radius: 15px;
  margin: 5rem auto;
  text-align: center;
}
body .bodyContent .contact .contactContent h3 {
  width: 80%;
  margin: 1rem auto;
  font-weight: bold;
  /* color: #000000; */
  /* color: #5e6874; */
  /* color: $darkBlue; */
  color: #000;
  margin-bottom: 2.5rem;
}
body .bodyContent .contact .contactContent input, body .bodyContent .contact .contactContent textarea {
  display: block;
  width: 80%;
  margin: 1rem auto;
  resize: none;
  border-radius: 20px;
  border: none;
  /* border: 1px solid #cccccc; */
  border: 1px solid #dee2e6;
  padding: 1rem;
  outline: none;
}
body .bodyContent .contact .contactContent input {
  height: 2.5rem;
}
body .bodyContent .contact .contactContent input[type=submit] {
  color: #fff;
  background: #1964b5;
  padding: 0;
  font-weight: bold;
  height: 3rem;
  font-size: 1.1rem;
}
body .bodyContent .contact .contactContent textarea {
  height: 12rem;
}
body .bodyContent .contact .contactContent form {
  width: 100%;
  max-width: 30rem;
  padding: 15px 0;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 15px;
  cursor: pointer;
  color: #cccccc;
  font-weight: bold;
  transition: all 0.3s;
}
body .bodyContent .contact .contactContent form div {
  display: flex;
  justify-content: center;
}
body .up-btn {
  background-color: #407bff;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  z-index: 999;
}
body .up-btn i,
body .up-btn svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.75rem;
  color: #fff;
}
body .show-btn {
  bottom: 0;
  opacity: 1;
}
body footer {
  width: 100%;
  height: 120px;
  background: #130f40;
}
body footer .footerContent {
  width: auto;
  margin: 0 auto;
  color: #cccccc;
  position: relative;
  top: 1.5rem;
}
body footer .footerContent .social-med {
  display: flex;
  justify-content: center;
  margin: 1.2rem 0;
}
body footer .footerContent .social-med i {
  margin: 0 1rem;
  font-size: 2rem;
  color: #cccccc;
  transition: 0.3s;
}
body footer .footerContent .social-med i:hover {
  color: #ffffff;
}
body footer .footerContent div {
  text-align: center;
}
body footer .footerContent div p {
  opacity: 0.6;
}

@media screen and (max-width: 1400px) {
  /*  .portfolio-cont{
       display: block !important;

       .projectInfo{
           width: 70% !important;
           margin: 0 auto !important;
           padding: 0 !important;
           max-width: 40rem;


       }
   } */
}
@media (max-width: 1025px) {
  /* .bodyContent{
      margin: 0 1rem;
  } */
  section {
    padding: 0 1rem;
  }

  .navbar .navbarContent {
    display: none;
    top: 80px;
    padding: 0;
    right: 10px;
    position: fixed;
    width: fit-content;
    height: fit-content;
    background: #fff;
    color: black;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    padding: 1.5rem;
  }
  .navbar .navbarContent:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #dcdcdc;
    position: absolute;
    top: -10px;
    right: 15px;
  }
  .navbar .navbarContent li {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1rem;
  }
  .navbar .navbarContent li:last-child {
    margin-bottom: 0;
  }
  .navbar i {
    display: block !important;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5rem;
    font-size: 1.8rem;
  }
  .navbar .active-selector {
    color: #2273f8;
  }
  .navbar .icons-cont {
    display: none !important;
  }

  .about .skills-cont {
    flex-flow: column;
  }

  section {
    padding: 1rem !important;
  }
}
@media (min-width: 1025px) {
  .navbarContent {
    display: flex !important;
  }
}
@media (max-width: 768px) {
  .stripe-top {
    border-top: 60px solid white;
  }

  .stripe-bottom {
    border-bottom: 60px solid !important;
  }

  .box-text {
    margin: 4rem auto;
  }
  .box-text h2 {
    font-size: 1.25rem;
  }
  .box-text h5 {
    font-size: 0.9rem;
  }
  .box-text img {
    width: 10rem;
  }

  body .bodyContent .portfolio .projects-grid .col-12 img {
    padding: 2rem;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 0.8rem;
  }
  body .text1 {
    font-size: 0.8rem !important;
  }
  body .sectionTitle {
    font-size: 2rem !important;
    width: 100% !important;
  }
  body .home .messageContainer {
    top: 8rem !important;
  }
  body .home .messageContainer img {
    width: 10rem !important;
    margin-top: 1rem !important;
  }
  body .home .messageContainer h1 {
    font-size: 2rem !important;
  }
  body .home .messageContainer h2 {
    font-size: 1.25rem;
  }
  body .about .skillsRow i {
    font-size: 2rem !important;
    width: 5rem !important;
    height: 5rem !important;
  }
  body .about .skillsRow h2 {
    font-size: 1rem !important;
  }
  body .about .skillsRow p {
    font-size: 0.7rem;
  }
  body .portfolio .projectInfo {
    padding: 0 !important;
    width: 80% !important;
    text-align: justify;
  }

  .home .messageContainer {
    top: 0 !important;
  }
}

/*# sourceMappingURL=style.css.map */
